div {
    float: left;
    text-align: left;
    border: solid #000 3px;
}

.guess_box {
    height: 245px;    
}

#header {
    width: 100%;
    border: 0;
    height: 50px;
}

#main {
    background-color: gray;
    height: 500px;
}

.my_hover {
    border: solid #00F 3px;    
}



